/* Устанавливаем цвет текста для всех <p> внутри контейнера */
p {
    color: rgb(9, 82, 20); /* Все <p> внутри будут синими */
}

/* Стили для списка компаний */
.company-list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    text-align: center; /* Центрируем текст в списке */
}

/* Стили для каждого элемента списка компаний */
.company-list li {
    margin-bottom: 20px; /* Задаем отступы между элементами списка */
}

/* Стили для выделенных элементов с классом highlight */
.highlight {
    background-color: rgb(9, 244, 126); /* Выделение фоном */
    font-weight: bold; /* Делает текст жирным */
}

/* Стили для элементов <strong> */
strong {
    color: black; /* Устанавливаем цвет текста для названий деталей */
}



body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.catalog {
    max-width: 800px;
    margin: auto;
}

.suppliers-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.supplier {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.detail {
    text-align: center;
}

.detail-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.detail:hover {
    transform: scale(1.05); /* Увеличение размера при наведении */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Эффект тени */
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
}

.pagination span {
    margin: 0 10px;
}











  /*ПАРТНЕРЫ*/
  .partner-list {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 100px;
    list-style-type: none;
    padding: 0;
}

.partner-item {
    width: 100px; /* Устанавливаем фиксированную ширину */
    height: 100px; /* Устанавливаем фиксированную высоту */
    border-radius: 50%; /* Радиус скругления для круга */
    border: 3px solid green; /* Параметры рамки */
    box-shadow: 0 0 7px #666; /* Параметры тени */
    display: flex; /* Выравнивание содержимого по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    justify-content: center; /* Горизонтальное выравнивание по центру */
}

.partner-item:hover {
    transform: scale(1.05); /* Увеличение при наведении */
}

.partner-logo {
    max-width: 80%; /* Максимальная ширина логотипа */
    max-height: 80%; /* Максимальная высота логотипа */
}

.partner-name {
    font-size: 14px; /* Размер шрифта для названия */
    color: #fff; /* Цвет текста */
    margin-top: 10px;
    text-align: center; /* Центрируем текст */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Цвет фона страницы */
    margin: 0;
    padding: 20px;
}
.parts-list {
    max-height: 300px; /* Максимальная высота контейнера */
    overflow-y: auto; /* Вертикальная прокрутка */
    border: 2px solid #007BFF; /* Цвет рамки */
    border-radius: 10px; /* Закругленные углы */
    background-color: #ffffff; /* Цвет фона внутри контейнера */
    padding: 10px; /* Отступы внутри контейнера */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для глубины */
    margin: 20px 0; /* Отступы вокруг контейнера */
}

li {
    margin: 5px 0; /* Отступы между элементами списка */
    padding: 5px; /* Отступы внутри элементов списка */
    border-bottom: 1px solid #ccc; /* Разделительная линия между пунктами */
}
li:last-child {
    border-bottom: none; /* Убираем последнюю разделительную линию */
}



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Цвет фона страницы */
    margin: 0;
    padding: 20px;
}
.parts-list {
    max-height: 300px; /* Максимальная высота контейнера */
    overflow-y: auto; /* Вертикальная прокрутка */
    border: 2px solid #007BFF; /* Цвет рамки */
    border-radius: 10px; /* Закругленные углы */
    background-color: #ffffff; /* Цвет фона внутри контейнера */
    padding: 10px; /* Отступы внутри контейнера */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для глубины */
    margin: 20px 0; /* Отступы вокруг контейнера */
}
h2 {
    text-align: center;
    color: #007BFF; /* Цвет заголовка */
}
li {
    margin: 5px 0; /* Отступы между элементами списка */
    padding: 5px; /* Отступы внутри элементов списка */
    border-bottom: 1px solid #ccc; /* Разделительная линия между пунктами */
}
li:last-child {
    border-bottom: none; /* Убираем последнюю разделительную линию */
}

.header2-name {
    font-family: 'Arial', sans-serif;  /* Укажите желаемый шрифт */
    font-size: 36px;                   /* Размер шрифта */
    letter-spacing: 0.05em;            /* Кернинг (межбуквенный интервал) */
    line-height: 1.2;                  /* Высота строки */
    color: #d61818;                       /* Цвет текста */
}





.slider-container {
    position: relative;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider {
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: white;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1;  
  }
  
  /* Стили для каждой точки */
  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black; /* Цвет для неактивных точек */
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;  /* Плавный переход для изменения цвета */
  }
  
  /* Стили для активной точки */
  .indicator.active {
    background-color: red;  /* Цвет для активной точки */
  }
  
  .slide-counter {
    position: absolute;
    top: 10px;
    left: 10px;
    color: red;
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
  }
  
  .slide-text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    z-index: 10;
  }
  
  #settings-form {
    margin: 5% 30%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 10px;
    visibility: visible;
  }
  
  .prev-button,
  .next-button {
    visibility: visible; /* Кнопки видимы по умолчанию */
    pointer-events: auto; /* Кнопки доступны для взаимодействия */
  }
  
  .indicators .indicator {
    visibility: visible; /* Индикаторы видимы по умолчанию */
    pointer-events: auto; /* Индикаторы доступны для взаимодействия */
  }