body {
    font-family: Arial, sans-serif; /* Шрифт для всей страницы */
    line-height: 1.6; /* Высота строки для лучшей читаемости */
    margin: 0; /* Убираем отступы по умолчанию */
    background-color: #a0ff6d; /* Цвет фона страницы */
}

header, footer {
    background-color: #17d417; /* Цвет фона для заголовка и подвала */
    padding: 20px; /* Увеличенные отступы */
    text-align: center; /* Центрируем текст */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
}

h1 {
    font-size: 2.5em; /* Размер заголовка */
    margin: 0; /* Убираем отступы */
}

h2 {
    font-size: 2em; /* Размер подзаголовка */
    color: #333; /* Цвет текста подзаголовка */
    margin-top: 20px; /* Отступ сверху */
}

h3 {
    font-size: 1.5em; /* Размер заголовка третьего уровня */
    color: #555; /* Цвет текста заголовка третьего уровня */
    margin-top: 15px; /* Отступ сверху */
}

p {
    color: #666; /* Цвет текста абзацев */
    margin: 10px 0; /* Отступы для абзацев */
    padding: 0 15px; /* Горизонтальные отступы */
}

main {
    max-width: 800px; /* Максимальная ширина основного контента */
    margin: 20px auto; /* Центрируем основной контент */
    padding: 20px; /* Отступы вокруг основного контента */
    background-color: #fff; /* Белый фон для основного контента */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Лёгкая тень */
}

footer {
    font-size: 0.9em; /* Размер шрифта для подвала */
    color: #333; /* Цвет текста подвала */
}

footer p {
    margin: 0; /* Убираем отступы */
}