{% extends 'main/layout.html' %}

{%block title%}О нас{% endblock %}

{% block content %}
<h1>Информация о нашей компании</h1>
<p>Наша компания занимается продажей, установкой и обслуживанием автомобильных запчастей. Мы предлагаем широкий ассортимент оригинальных и качественных запчастей для различных марок автомобилей.</p>
<p>При первом обращении клиент оставляет о себе контактную информацию, включая ФИО, адрес и данные паспорта. Наши сотрудники обязаны ознакомить клиента с ассортиментом и перечнем оказываемых услуг. При заключении договора указываются его номер, дата заключения, фамилия клиента, срок выполнения работ, а также полный список приобретаемых запчастей или оказываемых услуг. Мы можем выполнить несколько видов работ в рамках одного договора. Вся полученная информация заносится в нашу базу данных.</p>
{% endblock %}