


{% load static %}
{% block extraheader %}
  <link rel="stylesheet" href="{% static "css/product_list_js.css" %} {{ now|date:'U' }}"/>
  <script src="{% static "js/product_list.js" %} {{ now|date:'U' }}"></script>
  <link rel="stylesheet" href="{% static "css/pagination.css" %} {{ now|date:'U' }}" />



  <link rel="stylesheet" href="{% static 'css/demo.css' %} {{ now|date:'U' }}" />
  <link rel="stylesheet" href="{% static 'css/books-demo.css' %} {{ now|date:'U' }}" />
  


  <script src="{% static "js/book-prototype.js" %} {{ now|date:'U' }}"></script>
<script src="{% static "js/book-class.js" %} {{ now|date:'U' }}"></script>
{% endblock %} 

{% block content %}


<style>
body {
    font-family: 'Arial', sans-serif;
            background-image: url('/media/images/banner3.png');
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
            color: #333;
            overflow-x: hidden;
            height: 100%;
        }
</style>


  <section class="product-container">
    <div class="product-container-body">
      {% if products %}
        <div class="product-list">
          {% for product in products %}
            <div class="product-card-wrapper">
              <div itemscope itemtype="https://schema.org/Product" class="product-card">
                <a href="{{ product.get_absolute_url }}">
                  <div class="product-card-image-container">
                    <img itemprop="image" src="{{ product.image.url }}" class="product-img" alt="{{ product.name }}" />
                  </div>
                  <h5 itemprop="name" class="product-card-title">{{ product.name }}</h5>
                  <div class="product-card-body">
                    <p itemprop="description" class="product-card-text">Артикул: {{ product.article }}</p>
                    <p itemprop="description" class="product-card-text">Цена: {{ product.price }} ₽</p>
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>No products</p>
      {% endif %}
    </div>
  </section>

  <section>
    <div class="pagination-container">
      <button class="pagination-btn" id="prev-btn">Предыдущая</button>
      <button class="pagination-btn" id="next-btn">Следующая</button>
    </div>
  </section>




  <section>
    <h3>Book prototype demo</h3>
    <form id="book-form">
      <label for="name">Название:</label><input type="text" id="name">
      <label for="author">Автор:</label><input type="text" id="author">
      <label for="year">Год:</label><input type="number" id="year">
      <label for="style">Культурное направление:</label><input type="text" id="style">
      <label for="pages">Количество страниц:</label><input type="number" id="pages">
      <label for="publisher">Издательство:</label><input type="text" id="publisher">
      <label for="language">Язык:</label><input type="text" id="language">
      <button type="button" onclick="addBookFromForm()">Добавить книгу</button>
    </form>
    
    <h4>Books prototype output</h4>
    <div id="books-output"></div>
    
    <h4>By author after 1980  filtrated prototype:</h4>
    <select id="author-select" onchange="filterBooksByAuthor()"></select>
    
    <h4>Filtred books output</h4>
    <div id="filter-output"></div>
    </section>
    
    




{% endblock %}