{% load static %}
<link rel="stylesheet" href="{% static "css/sertificate.css" %}">


<section class="certificate">
    <h1 >ЕДИНЫЙ РЕЕСТР МАГАЗИНОВ</h1>
    <h2 >СВИДЕТЕЛЬСТВО</h2>
    <h3 >О ВНЕСЕНИИ ИНФОРМАЦИИ</h3>
    
    <div class="location-date">
        <p >г. Минск</p>
        <p >25 сентября 2024 года</p>
    </div>
    
    <p>Общество с ограниченной ответственностью <strong>"АвтоЗапчасти"</strong></p>
    <p>(ИНН 123452433)</p>
    <p>Регистрационный номер: 2121</p>
    
    <div class="signature">
        <p>Довнар Александр Николаевич</p>
        <p >Генеральный директор магазина SPARE</p>
    </div>

    <div class="bottom-section">
        <div class="image-container">
            <img src="/media/images/pngwing.com.png" alt="Logo">
        </div>
        <div class="contact-info">
            <h4>Контактная информация</h4>
            <p>Телефон: <a href="tel:+375293455395">+375293455395</a></p>
            <p>Email: <a href="mailto:SPARE@gmail.com">SPARE@gmail.com</a></p>
            <p>Адрес: г. Минск, ул. Примерная, д. 1</p>
        </div>
    </div>

</section>
