{% load static %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static "js/row.js" %}"></script>
<link rel="shortcut icon" href="/media/images/favicon.png" type="image/x-icon">

<script src="{% static "js/slaider.js" %}" defer></script>

<link rel="stylesheet" href="{% static "css/row.css" %}" />

{% block сontent %}

<p>Самая часто заказываемая деталь:  {{ most_ordered_detail }}</p>



<p>Настроить интервал для слайдера:</p>




    <form id="intervalForm">
        <label for="intervalInput">Интервал (мс):</label>
        <input type="number" id="intervalInput" value="5000"> <!-- Значение по умолчанию -->
        <button type="submit">Сохранить</button>
    </form>

    <script>
        // Слушаем событие отправки формы
        document.getElementById('intervalForm').addEventListener('submit', (event) => {
            event.preventDefault(); // Предотвращаем перезагрузку страницы
            const intervalValue = document.getElementById('intervalInput').value; // Получаем значение интервала
            localStorage.setItem('sliderInterval', intervalValue); // Сохраняем значение в localStorage
            alert('Интервал сохранен!'); // Уведомление о сохранении
        });
    </script>










    <p10><strong><big>БАЗА ПОСТАВЩИКОВ И ИХ ТОВАРЫ</big></strong></p10>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for supplier in suppliers %}
                <li>
                    <p style="color: #410af7;">{{ supplier.name }}</p>
                    <ul>
                        {% for detail in details %}
                            {% if detail.SupplierId == supplier.id %}
                                <li style="color: #e10e9e;">

                                    {{ detail.name }} - {{ detail.price }} рублей
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </form>

<h1>Поставщики и Заказы</h1>
<style>
body {
    font-family: 'Arial', sans-serif;
    background-image: url('/media/images/armiya.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #ffffff;
    overflow-x: hidden;
    height: 100%;
}
</style>

<h2>Поставщики</h2>
<table>
    <thead>
        <tr>
            <th>Название Поставщика</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Заказы</h2>
<table>
    <thead>
        <tr>
            <th>Номер Заказа</th>
            <th>Дата Покупки</th>
            <th>Сумма</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.purchase_date }}</td>
            <td>{{ order.sum }}</td>
            <td>{{ order.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Позиции Заказа</h2>
<table>
    <thead>
        <tr>
            <th>Номер Заказа</th>
            <th>Название Продукта</th>
            <th>Название Поставщика</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order_items %}
        <tr>
            <td>{{ item.OrderId }}</td>
            <td>{{ item.NameOfDetail }}</td>
            <td>{{ item.NameOfSupplier }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>




<div id="graph-container">
    <form id="inputForm">
      <label for="epsilon">Заданная погрещность: </label>
      <input type="number" id="epsilon" name="epsilon" value="0.0001" step="0.0001">
      <button type="submit">Update график</button>
  </form>

  <canvas style="margin: auto; width: 800px; height: 600px;" id="myChart"></canvas>

</div>
<script src="{% static "js/row.js" %}"></script>


{% endblock %}

