

{% extends 'main/layout.html' %}

{%block title%}Ответы на вопросы{% endblock %}

{% block сontent %}
    {% for el in Qanswer%}
        <div class = "alert alert-warning">
            <h3>-{{ el.question }}</h3>
            <p>-{{ el.answer }}</p>
            <p>Дата добавления ответа: {{ el.date }}</p>
        </div>
    {% endfor%}
{% endblock %}

<script>
    document.getElementsByClassName("clicker")[0].addEventListener("click", () => {
        document.getElementById("question{{el.answer}}").style.display = "block"
    });
</script>
