{% extends 'main/layout.html' %}

{%block title%}Отзывы{% endblock %}

{% block сontent %}
    <form method="post">
        {% csrf_token %}
        <label>Поле для отзыва</label>
        <p><textarea name="comment" rows="4" cols="50"></textarea></p>
        <label>Оценка</label>
        <input type="number" min="1" max="5" value="5" name="mark">
        <a href="{% url 'registration' %}"><button type="submit">Оставить комментарий</button></a>
    </form>
    {% for el in comments %}
        <div class = "alert alert-warning">
            <h1>{{ el.UserName }}</h1>
            <p>{{ el.text }}</p>
            <p>Оценка: {{ el.mark}} Дата: {{el.data}}</p>
        </div>
    {% endfor %} 
{% endblock %}




