<!doctype html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="/media/images/favicon.png" type="image/png" />
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/layout.css" %}">
    <script src="{% static "js/time.js" %}" defer></script>

    



</head>
<body>
 


    <aside>
        <h1 id="nav-title" class="centered highlight" title="Это навигация" style="text-align: center;">НАВИГАЦИЯ</h1>
    

    <nav class="nav-container">
        <ul class="nav-list">
            <li><a href="{% url 'home' %}" class="nav-button">MAIN</a></li>
            <li><a href="{% url 'about' %}" class="nav-button">О компании</a></li>
            <li><a href="{% url 'news' %}" class="nav-button">Новости</a></li>
            <li><a href="{% url 'faq' %}" class="nav-button">FAQ</a></li>
            <li><a href="{% url 'policy' %}" class="nav-button">Политика конфиденц.</a></li>
            <li><a href="{% url 'vacancies' %}" class="nav-button">Вакансии</a></li>
            <li><a href="{% url 'feedback' %}" class="nav-button">Отзывы</a></li>
            <li><a href="{% url 'discounts' %}" class="nav-button">Скидки и акции</a></li>
            <li><a href="{% url 'poligon' %}" class="nav-button">Полигон</a></li>
            <li><a href="{% url 'login' %}" class="nav-button">Вход</a></li>
            <li><a href="{% url 'registration' %}" class="nav-button">Регистрация</a></li>
            <li><a href="{% url 'catalog' %}" class="nav-button">Каталог</a></li>
            <li><a href="{% url 'workers' %}" class="nav-button">Работники</a></li>
            <li><a href="{% url 'api' %}" class="nav-button">API</a></li>
        </ul>
    </nav>
    </aside>








    
    <main>
        <div id="countdown" style="font-size: 24px; text-align: center; margin: 20px;"></div>
        {% block сontent %}
        {% endblock %}
    </main>
</body>
<footer style="border-top: 2px solid #01080f; /* Цвет полоски */
    text-align: center; 
    padding: 10px; 
    background-color: #0eebe0; 
    position: relative; 
    bottom: 0; 
    width: 100%;">
    
<p>© 2023 Все права защищены. Все права защищены.</p>
</footer>

</html>

