{% block title %}Мои Заказы{% endblock %}

{% block head %}
    <link rel="shortcut icon" href="/media/images/favicon.png" type="image/png" />
{% endblock %}

{% block content %}
    {% if orders %}
        <h1>Мои Заказы</h1>
        {% for order in orders %}
            <h2>Детали Заказа</h2>
            <p>Дата Покупки: {{ order.purchase_date }}</p>
            <p>Количество: {{ order.quantity }}</p>
            <p>Общая Сумма: {{ order.sum }} $</p>
            <h3>Заказанные Товары:</h3>
            <ul>
                {% for item in order_items %}
                    {% if item.OrderId == order.id %}
                        <li>
                            <p>Название: {{ item.NameOfDetail }}</p>> 
                            <p>Количество: {{ item.Quantity }}</p>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr>
        {% endfor %}
    {% else %}
        <p>У вас пока нет заказов.</p>
    {% endif %}

    {% if pickup_addresses %}
        <h2>Адреса Самовывоза</h2>
        <ul>
            {% for address in pickup_addresses %}
                <li>{{ address.adress }} - {{ address.Workinghours }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет доступных адресов самовывоза.</p>
    {% endif %}
{% endblock %}