{% block content %}
    <h2>Оформление заказа</h2>
    {% if cart.items %}
        <ul>
            {% for item in cart.items %}
                <li>Название: {{ item.name_of_detail }} - Количество: {{ item.quantity }} - Цена: {{ item.price }}</li>
            {% endfor %}
        </ul>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Подтвердить заказ</button>
        </form>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
{% endblock %}