<!-- {% extends 'main/layout.html' %} -->


{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<h2>Политика конфиденциальности</h2>

<p>Дата последнего обновления: {{ current_date }}</p>

<h3>1. Введение</h3>
<p>Настоящая политика конфиденциальности описывает, как мы собираем, используем и защищаем вашу личную информацию при использовании нашего интернет-магазина автозапчастей.</p>

<h3>2. Сбор информации</h3>
<p>Мы можем собирать следующую информацию:</p>
<ul>
    <li>Имя и фамилия</li>
    <li>Электронная почта</li>
    <li>Номер телефона</li>
    <li>Адрес доставки</li>
    <li>Данные о платежах (например, номер кредитной карты)</li>
</ul>

<h3>3. Использование информации</h3>
<p>Мы используем вашу информацию для:</p>
<ul>
    <li>Обработки заказов и доставки товаров</li>
    <li>Связи с вами по вопросам вашего заказа</li>
    <li>Улучшения нашего сервиса и вебсайта</li>
    <li>Отправки вам уведомлений о новых продуктах и акциях (если вы согласились получать такие сообщения)</li>
</ul>

<h3>4. Защита информации</h3>
<p>Мы принимаем все необходимые меры для защиты вашей личной информации от несанкционированного доступа, изменения, раскрытия или уничтожения. Все данные передаются по защищенным каналам и хранятся на защищенных серверах.</p>

<h3>5. Раскрытие информации третьим лицам</h3>
<p>Мы не продаем и не передаем вашу личную информацию третьим лицам, за исключением случаев, когда это необходимо для выполнения ваших заказов (например, передача данных курьерской службе).</p>

<h3>6. Ваши права</h3>
<p>Вы имеете право на доступ к своей личной информации, ее исправление или удаление. Для этого вы можете связаться с нашей службой поддержки.</p>

<h3>7. Изменения в политике конфиденциальности</h3>
<p>Мы оставляем за собой право вносить изменения в настоящую политику конфиденциальности. Все изменения будут опубликованы на этой странице с указанием даты последнего обновления.</p>

<h3>8. Контактная информация</h3>
<p>Если у вас есть вопросы или предложения по поводу нашей политики конфиденциальности, пожалуйста, свяжитесь с нами по электронной почте: <a href="mailto:support@example.com">support@example.com</a>.</p>

{% endblock %}