{% extends 'main/layout2.html' %}

{%block title%}Заказ{% endblock %}

{% block сontent %}
    <p>Выберите интересующие вас детали</p>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for supplier in suppliers %}
                <li>
                    <p>{{ supplier.name }}</p>
                    <ul>
                        {% for detail in details %}
                            {% if detail.SupplierId == supplier.id %}
                                <li style="color: #6c757d;">
                                    <!-- <input type="checkbox" name="records" value="{{ detail.id }}"> -->
                                    {% if detail.image %}
                                        <img src="{{ detail.image.url }}" alt="{{ detail.name }}" style="max-width: 100px; margin-right: 10px;">
                                    {% endif %}
                                    <a href="{% url 'templateproduct' detail.id %}">
                                        <strong style="color: black;">{{ detail.name }}</strong>
                                    </a>
                                </li> 
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <!-- <button type="submit">Сделать заказ</button> -->
    </form>
{% endblock %}

