<!-- {% extends 'main/layout2.html' %} -->
{% block title %}Политика конфиденциальности{% endblock %}

{% block content %}
<h2>Политика конфиденциальности</h2>

<p>Дата последнего обновления: {{ current_date }}</p>

<h3>1. Введение</h3>
<p>Мы ценим вашу конфиденциальность и стремимся защищать вашу личную информацию. В этой политике описывается, как мы собираем, используем и охраняем ваши данные при использовании нашего интернет-магазина автозапчастей.</p>

<h3>2. Сбор информации</h3>
<p>Мы можем собирать следующую информацию о вас:</p>
<ul>
    <li>ФИО</li>
    <li>Электронный адрес</li>
    <li>Контактный номер телефона</li>
    <li>Адрес для доставки</li>
    <li>Данные о платежах (например, номер карты)</li>
</ul>

<h3>3. Использование информации</h3>
<p>Ваши данные могут использоваться для:</p>
<ul>
    <li>Обработки и выполнения заказов</li>
    <li>Связи с вами по вопросам ваших заказов</li>
    <li>Улучшения наших услуг и веб-сайта</li>
    <li>Информирования о новых продуктах и специальных предложениях, если вы согласны на это</li>
</ul>

<h3>4. Защита информации</h3>
<p>Мы принимаем все необходимые меры для защиты ваших данных от несанкционированного доступа и утечек. Ваши данные передаются через защищенные каналы и хранятся на безопасных серверах.</p>

<h3>5. Раскрытие информации третьим лицам</h3>
<p>Мы не передаем вашу личную информацию третьим лицам, за исключением случаев, необходимых для выполнения ваших заказов (например, курьерским службам).</p>

<h3>6. Ваши права</h3>
<p>Вы имеете право на доступ к своей информации, ее изменение или удаление. Для получения дополнительной информации свяжитесь с нашей службой поддержки.</p>

<h3>7. Изменения в политике конфиденциальности</h3>
<p>Мы можем изменять эту политику и будем уведомлять вас об этом путем публикации обновленной версии на нашем сайте. Дата последнего обновления будет указана в начале документа.</p>

<h3>8. Контактная информация</h3>
<p>Если у вас есть вопросы о нашей политике конфиденциальности, пожалуйста, напишите нам по адресу: <a href="mailto:support@example.com">support@example.com</a>.</p>

{% endblock %}