{% extends 'main/layout2.html' %}

{%block title%}About us{% endblock %}

{% block сontent %}
    <h1>ИНФОРМАЦИЯ О КОМПАНИИ</h1>
    <p>Предприятие занимается автомобильными запчастями(продажа).</p>
    <p>При первом обращении клиент оставляет о себе всю необходимую контактную информацию (ФИО, адрес, данные паспорта). Сотрудник центра обязан ознакомить клиента с предлагаемым перечнем оказываемых услуг. При заключении договора указывается его номер, дата заключения, фамилия клиента, дата заключения, срок выполнения, а также прилагается полный список всех оказываемых услуг. Известно, что в рамках одного договора, сервисный центр может оказать несколько видов услуг разного количества. Всю полученную информацию сотрудник заносит в базу данных.</p>
{% endblock %}