{% extends 'main/layout.html' %}

{%block title%}Вакансии{% endblock %}

{% block сontent %}
<head>
{% load static %}
<link rel="stylesheet" href="{% static "css/vacancies.css" %}">
</head>
<body>
<div class="vacancy-list">
    {% for el in vacancion %}
        <div class="vacancy-item">
            <h3>{{ el.title }}</h3>
            <p>{{ el.text }}</p>
        </div>
    {% endfor %}
    <div style="clear: both;"></div> <!-- Очистка после плавающих элементов -->
</div>
</body>
{% endblock %}